._btn{
    padding: 0.5rem 1rem;
    border: none;
    outline: navajowhite;
    cursor: pointer;
    // background: rgb(206, 5, 65);
    transition: all .3s ease;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 18px;
}